
.icons-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Tres columnas */
  gap: 20px; /* Espacio entre los íconos */
  justify-items: center; /* Centra los íconos horizontalmente */
  padding: 20px;
}

.icon-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.circle-background {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(6px) brightness(1.2);
  border-radius: 50%;
  transition: transform 0.3s;
  margin-bottom: 10px; /* Espacio entre el círculo y el texto */
}

.circle-background:hover {
  transform: scale(1.1);
}
 
.icon-image{
  width: 60px;
  height: 60px;
}
.icon-link {
  text-decoration: none; /* Elimina el subrayado */
  color: inherit; /* Mantiene el color original del texto */
}

.title-icon h5 {
  width: 100px; /* Alineación con el círculo */
  text-align: center;
  font-size: 0.9em; 
  color: #FFF5E4;
  text-decoration: none; /* Eliminar subrayado */

}