.footer {
    background-color: rgba(204, 115, 81, 0.8); /* Fondo con transparencia */
    padding: 10px 0;
    display: flex;
    justify-content: center;
}

.footer .social-icon {
    margin: 0 15px; /* Espaciado entre los iconos */
}

/* Asegurar que el footer esté siempre al final */
.fixed-bottom {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 10;
}